.banner_image{
    background-image: url("/public/defect-banner.jpg");
    width:100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    background-position: center;
    transform: scale(1);
}
.banner_content{
    height:200px;
}
.title_major {
    font-size: 70px;
    background: -webkit-linear-gradient(left,#f30 25%, #ff0 50%, #40ff00 35%, #0bffff 70%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    z-index: 2;
    background-color: rgb(255,255,255,0.5);
    left: 36%;
    top: 5%;
}
.center{
    text-align: center;
}