.link{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: black;
    margin-left:30px;
    margin-top:30px;
}
.link:hover{
    text-decoration:underline;
    transition: 0.2s;
    color: black;
    cursor: pointer;
}
.link-absent{
    color: gray;
    font-size: 15px;
    text-decoration: none;
}
.center{
    text-align: center;
}
.train-box{
    padding-top:20px;
}
.queue{
    margin-left:30px;   
}

/* table */
table{
    width: 99%;
    border-collapse: collapse;
}
thead tr th{
    background-color:burlywood;
    border: 2px solid black;
    padding:10px;
    text-align: center;
}
tbody tr td{
    background-color:azure;
    border:2px solid black;
    padding:10px
}
tbody tr:hover{
    cursor: pointer;
}