label {
    font-family: sans-serif;
    margin-left: 10px;
}
input {
    margin-left: 40px;
    margin-bottom: 15px;
    margin-top: 5px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #c3bbbb;
    font-size: 15px;
    padding: 5px;
    margin-right: 40px;
}
#submit {
    width: 80px;
    height: 40px;
    background-color: aqua;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top:10px;
    font-size:15px;
}
input:focus-visible,#submit:hover,#submit:focus-visible,textarea:focus-visible{
    outline:none;
    border-color: #fff5ff;
    box-shadow: 0 0 10px #9b9999;
    background-color: #fff5ff;
    transition-duration: 0.2s;
}
textarea{
    margin-left: 40px;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid #c3bbbb;
    font-size: 15px;
    padding: 5px;
    padding-left: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* login component */
.login-box-banner {
    background-color: darkgray;
    border-radius: 10px 10px 0px 0px;
    margin-top: -1px;
    margin-left: -1px;
    padding: 15px;
    font-family: cursive;
    font-size: 24px;
}
.box{
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 39%;
    width: 300px;
    margin-top: 5%;
}