table{
    width: 99%;
    border-collapse: collapse;
}
thead tr th{
    background-color:burlywood;
    border: 2px solid black;
    padding:10px;
    text-align: center;
}
tbody tr td{
    background-color:azure;
    border:2px solid black;
    padding:10px
}
tbody tr:hover{
    cursor: pointer;
}